@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.mid{
    font-family: bold;
    text-align: left;
    color: white;
}
.text{
    text-align: center;
    color:white;
}
.bg-container{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1591351816538-a8c806605682?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9vayUyMGFuZCUyMHBlbnxlbnwwfHwwfHx8MA%3D%3D");
    height:700px;
    width: 400px;
}
.sip{
    color:white
}
.change{
    background-color: yellow;
    font-size: 20px;
    border-radius: 8px;
}
.shikha{
    text-align: center;
    color: white;
}
.yap{
    padding-top: 20px;
}
